:root {
    --headings-hero-headline-60-font-family: "Inter", Helvetica;
    --headings-hero-headline-60-font-weight: 700;
    --headings-hero-headline-60-font-size: 60px;
    --headings-hero-headline-60-letter-spacing: 0px;
    --headings-hero-headline-60-line-height: 72px;
    --headings-hero-headline-60-font-style: normal;
    --headings-headline-48-font-family: "Inter", Helvetica;
    --headings-headline-48-font-weight: 700;
    --headings-headline-48-font-size: 48px;
    --headings-headline-48-letter-spacing: 0px;
    --headings-headline-48-line-height: 56px;
    --headings-headline-48-font-style: normal;
    --headings-headline-36-font-family: "Inter", Helvetica;
    --headings-headline-36-font-weight: 700;
    --headings-headline-36-font-size: 36px;
    --headings-headline-36-letter-spacing: 0px;
    --headings-headline-36-line-height: 44px;
    --headings-headline-36-font-style: normal;
    --headings-headline-30-font-family: "Inter", Helvetica;
    --headings-headline-30-font-weight: 600;
    --headings-headline-30-font-size: 30px;
    --headings-headline-30-letter-spacing: 0px;
    --headings-headline-30-line-height: 40px;
    --headings-headline-30-font-style: normal;
    --headings-headline-24-font-family: "Inter", Helvetica;
    --headings-headline-24-font-weight: 600;
    --headings-headline-24-font-size: 24px;
    --headings-headline-24-letter-spacing: 0px;
    --headings-headline-24-line-height: 36px;
    --headings-headline-24-font-style: normal;
    --headings-headline-20-font-family: "Inter", Helvetica;
    --headings-headline-20-font-weight: 600;
    --headings-headline-20-font-size: 16px;
    --headings-headline-20-letter-spacing: 0px;
    --headings-headline-20-line-height: 22px;
    --headings-headline-20-font-style: normal;
    --body-body-20-font-family: "Inter", Helvetica;
    --body-body-20-font-weight: 400;
    --body-body-20-font-size: 20px;
    --body-body-20-letter-spacing: 0px;
    --body-body-20-line-height: 30px;
    --body-body-20-font-style: normal;
    --body-body-18-font-family: "Inter", Helvetica;
    --body-body-18-font-weight: 400;
    --body-body-18-font-size: 18px;
    --body-body-18-letter-spacing: 0px;
    --body-body-18-line-height: 28px;
    --body-body-18-font-style: normal;
    --body-body-16-font-family: "Inter", Helvetica;
    --body-body-16-font-weight: 400;
    --body-body-16-font-size: 16px;
    --body-body-16-letter-spacing: 0px;
    --body-body-16-line-height: 24px;
    --body-body-16-font-style: normal;
    --body-body-14-font-family: "Inter", Helvetica;
    --body-body-14-font-weight: 400;
    --body-body-14-font-size: 14px;
    --body-body-14-letter-spacing: 0px;
    --body-body-14-line-height: 21px;
    --body-body-14-font-style: normal;
    --meta-label-14-font-family: "Inter", Helvetica;
    --meta-label-14-font-weight: 400;
    --meta-label-14-font-size: 14px;
    --meta-label-14-letter-spacing: 0px;
    --meta-label-14-line-height: 14px;
    --meta-label-14-font-style: normal;
    --meta-label-12-font-family: "Inter", Helvetica;
    --meta-label-12-font-weight: 400;
    --meta-label-12-font-size: 12px;
    --meta-label-12-letter-spacing: 0px;
    --meta-label-12-line-height: 12px;
    --meta-label-12-font-style: normal;
    --meta-caption-12-font-family: "Inter", Helvetica;
    --meta-caption-12-font-weight: 400;
    --meta-caption-12-font-size: 12px;
    --meta-caption-12-letter-spacing: 0px;
    --meta-caption-12-line-height: 15px;
    --meta-caption-12-font-style: normal;
    --variable-collection-red: rgba(178, 18, 18, 1);
    --variable-collection-black: rgba(0, 0, 0, 1);
    --variable-collection-red-ni-sherilyn: rgba(234, 23, 23, 0.6);
    --variable-collection-soft-grey: rgba(137, 120, 120, 1);
    --variable-collection-ahahah: rgba(207, 63, 63, 1);
  }
  